Source: trid-autobuilt
Section: non-free/utils
Priority: optional
Maintainer: Utopia Repository Auto-builders <webmaster@overdrivenetworks.com>
Build-Depends: debhelper (>= 10~)
Standards-Version: 4.1.4
Homepage: http://mark0.net/soft-trid-e.html

Package: trid
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, trid-triddefs
Description: file type identifier
 TrID is an utility designed to identify file types from their binary
 signatures. While there are similar utilities with hard coded logic, TrID has
 no fixed rules. Instead, it's extensible and can be trained to recognize new
 formats in a fast and automatic way.
 .
 TrID is freeware for non-commercial, personal, research and educational use.
 Those wishing to use TrID or its definitions for commercial purposes must
 contact the author (see copyright file).
 .
 This package provides the TrID binary.

Package: trid-triddefs
Architecture: all
Depends: ${misc:Depends}
Suggests: trid
Description: file type identifier - definition files
 TrID is an utility designed to identify file types from their binary
 signatures. While there are similar utilities with hard coded logic, TrID has
 no fixed rules. Instead, it's extensible and can be trained to recognize new
 formats in a fast and automatic way.
 .
 TrID is freeware for non-commercial, personal, research and educational use.
 Those wishing to use TrID or its definitions for commercial purposes must
 contact the author (see copyright file).
 .
 This package provides definitions for the TrID utility.
